<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="albumDAO" class="g1105.metaps.dao.AlbumDAO">
		<constructor-arg>
			<ref bean="hibernateTemplate"/>
		</constructor-arg>
	</bean>
		<bean id="albumPictureDAO" class="g1105.metaps.dao.Album_PictureDAO">
		<constructor-arg>
			<ref bean="hibernateTemplate" />
		</constructor-arg>
	</bean>	
	<bean id="tagDAO" class="g1105.metaps.dao.TagDAO">
		<constructor-arg>
			<ref bean="hibernateTemplate" />
		</constructor-arg>
	</bean>	
	<bean id="userTagDAO" class="g1105.metaps.dao.User_tagDAO">
		<constructor-arg>
			<ref bean="hibernateTemplate" />
		</constructor-arg>
	</bean>
	<bean id="userLikedPictureDAO" class="g1105.metaps.dao.User_likedPictureDAO">
		<constructor-arg>
			<ref bean="hibernateTemplate"/>
		</constructor-arg>
	</bean>
</beans>